<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>추천 결과</title>
    <style type="text/css">
        div {width:320px; height:320px; text-align:center; border:1px solid #000; padding:5px; margin:20px;}
        div2 {width:320px; height:450px; text-align:center; border:1px solid #000; padding:5px; margin:20px;}
        img {width:280px; height:260px; padding:5px;}
        h2 {font-size:.8em; color:#000; font-weight:bold;}
        .fl {float:left;}
    </style>
</head>

<body>
    <h1>추천 결과</h1>

    <div ondrop="handleFileDrop(event);" ondragenter="handleDragOver(event);" ondragover="handleDragOver(event);", id="dynamic-images-container">
        <h2>{{ profiles.0.title}}</h2>
        <h2>음식 영양정보 </h2>

    </div>

    <div2 class="fl" ondrop="drop(this, event);" ondragenter="return false;" ondragover="return false;">
        {% if recommend %}
        <h2>사용자 영양정보 </h2>
    <table>
    {% for person in recommend %}
        <a><li>이름 : {{ person.name }}</a></li>
        <a><li>bmi : {{ person.bmi }}</a></li>
        <a><li>타이로신 : {{ person.tyrosine }}</a></li>
        <a><li>코엔자임 Q10 : {{ person.CoenzymeQ10 }}</a></li>
        <a><li>베타인 : {{ person.betaine }}</a></li>
        <a><li>혈압 : {{ person.BloodPressure }}</a></li>
        <a><li>혈당 : {{ person.BloodSugar}}</a></li>
        <a><li>마그네슘 : {{ person.magnesium}}</a></li>
        <a><li>칼슘 : {{ person.calcium}}</a></li>
        <a><li>골질량 : {{ person.BoneMass}}</a></li>
        <a><li>철 : {{ person.iron }}</a></li>
        <a><li>아연 : {{ person.zinc }}</a></li>
        <a><li>비타민C : {{ person.vitaminC }}</a></li>
        <a><li>비타민D : {{ person.vitaminD }}</a></li>
        <a><li>콜레스테롤 : {{ person.cholesterol }}</a></li>
        <a><li>중성지방 : {{ person.NeutralFat  }}</a></li>
        <a><li>비만 : {{ person.obesity  }}</a></li>
        <a><li>체지방 : {{ person.BodyFat }}</a></li>
    {% endfor %}
{% else %}
    <p>사용자가 없습니다.</p>
{% endif %}
</body>
</html>


